<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ "Common.Zaloguj się" | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="login-container">
        <div id="errorContainer">
            <span id="errorTextContainer"></span>
        </div>

        <form (ngSubmit)="logIn()" [formGroup]="loginForm" novalidate>
            <ion-row>
                <ion-col>
                    <ion-list inset>
                        <ion-item>
                            <ion-label>
                                <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
                            </ion-label>
                            <ion-input type="email" placeholder="{{ 'Common.Adres e-mail' | translate }}" required [(ngModel)]="model.email" formControlName="email"
                                name="email"></ion-input>
                        </ion-item>
                        <div *ngIf="loginForm.get('email').touched">
                            <ng-container *ngFor="let validation of validationMessages.email">
                                <div class='error' *ngIf="loginForm.get('email').hasError(validation.type)">
                                    <p>{{ "FormValidation." + validation.message | translate }}</p>
                                </div>
                            </ng-container>
                        </div>

                        <ion-item>
                            <ion-label>
                                <ion-icon ios="ios-key" md="md-key"></ion-icon>
                            </ion-label>
                            <ion-input type="password" placeholder="{{ 'Common.Hasło' | translate }}" clearOnEdit="false" required [(ngModel)]="model.password"
                                formControlName="password" [type]="passwordType" name="password"></ion-input>
                            <button type="button" ion-button clear item-end (click)='hideShowPassword()'>
                                <ion-icon [name]="passwordIcon" class="passwordIcon"></ion-icon>
                            </button>
                        </ion-item>
                        <div *ngIf="loginForm.get('password').touched">
                            <ng-container *ngFor="let validation of validationMessages.password">
                                <div class='error' *ngIf="loginForm.get('password').hasError(validation.type)">
                                    <p>{{ "FormValidation." + validation.message | translate }}</p>
                                </div>
                            </ng-container>
                        </div>
                    </ion-list>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="forgot-pass-cont" text-center>
                    <a (click)="forgotPass()" block>{{ 'Common.Nie pamiętam hasła' | translate }}</a>
                </ion-col>
            </ion-row>

            <div class="footer-buttons">
                <button ion-button full outline>{{ "Common.Zaloguj się" | translate }}</button>
                <div id="or">
                    <span>{{ "Common.LUB" | translate }}</span>
                </div>
                <button type="button" (click)="createAcc()" ion-button full outline>{{ "Common.Utwórz konto" | translate }}</button>
            </div>
        </form>
    </div>
</ion-content>