<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "Tags.Dodaj tagi" | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button full outline (click)="addNewTag()" class="button-header">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button full outline (click)="saveTagsList()" class="button-header">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let tag of tagsList.tags; let i = index">
      <ion-input type="text" [(ngModel)]="tag.name" placeholder="{{ 'Tags.Nazwa tagu' | translate }}"></ion-input>
      <ion-input type="text" readonly="true"></ion-input>
      <div class="buttons" item-right>
        <button ion-button outline (click)="removeTag(i)">
          <ion-icon name="close"></ion-icon>
        </button>
      </div>
    </ion-item>

</ion-content>
