<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ "Common.Rejestracja" | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="registration-container">
        <div id="errorContainer">
            <span id="errorTextContainer"></span>
        </div>

        <form (ngSubmit)="register()" [formGroup]="registrationForm" novalidate>
            <ion-row>
                <ion-col>
                    <ion-list inset>
                        <ion-item>
                            <ion-label>
                                <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
                            </ion-label>
                            <ion-input type="email" placeholder="{{ 'Common.Adres e-mail' | translate }}" required [(ngModel)]="model.email" formControlName="email"
                                name="email"></ion-input>
                        </ion-item>
                        <div *ngIf="registrationForm.get('email').touched">
                            <ng-container *ngFor="let validation of validationMessages.email">
                                <div class='error' *ngIf="registrationForm.get('email').hasError(validation.type)">
                                    <p>{{ "FormValidation." + validation.message | translate }}</p>
                                </div>
                            </ng-container>
                        </div>

                        <ion-item>
                            <ion-label>
                                <ion-icon ios="ios-key" md="md-key"></ion-icon>
                            </ion-label>
                            <ion-input type="password" placeholder="{{ 'Common.Hasło' | translate }}" [type]="passwordType" clearOnEdit="false" formControlName="password"
                                required [(ngModel)]="model.password" name="password"></ion-input>
                            <button type="button" ion-button clear item-end (click)='hideShowPassword()'>
                                <ion-icon [name]="passwordIcon" class="passwordIcon"></ion-icon>
                            </button>
                        </ion-item>
                        <div *ngIf="registrationForm.get('password').touched">
                            <ng-container *ngFor="let validation of validationMessages.password">
                                <div class='error' *ngIf="registrationForm.get('password').hasError(validation.type)">
                                    <p>{{ "FormValidation." + validation.message | translate }}</p>
                                </div>
                            </ng-container>
                        </div>

                        <ion-item>
                            <ion-label>
                                <ion-icon ios="ios-key" md="md-key"></ion-icon>
                            </ion-label>
                            <ion-input type="password" placeholder="{{ 'Common.Powtórz hasło' | translate }}" [type]="passwordType" clearOnEdit="false"
                                required [(ngModel)]="model.repeat_password" formControlName="repeat_password" name="repeat_password"></ion-input>
                        </ion-item>
                        <div *ngIf="registrationForm.get('repeat_password').touched">
                            <ng-container *ngFor="let validation of validationMessages.repeat_password">
                                <div class='error' *ngIf="registrationForm.get('repeat_password').hasError(validation.type)">
                                    <p>{{ "FormValidation." + validation.message | translate }}</p>
                                </div>
                            </ng-container>
                        </div>
                    </ion-list>
                </ion-col>
            </ion-row>

            <button ion-button full outline>{{ "Common.Zarejestruj się" | translate }}</button>
        </form>
    </div>
    <div class="footer-buttons">
        <div id="or">
            <span>{{ "Common.LUB" | translate }}</span>
        </div>
        <button type="button" (click)="backToLogin()" ion-button full outline>{{ "Common.Zaloguj się" | translate }}</button>
    </div>
</ion-content>