div {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.timer-btns {
    margin-top: 30px;
}
.eventsList {
    margin-top: 110px;
}
#eventItem {
    padding: 0;
}
.alert-button-group {
    margin: 0;
}
