<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "MenuBar.Pomodoro" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-item>
      <h1 text-center color="primary" class="timer-button timer-text">{{this.pomodoroTimer.timer.displayTime}}</h1>
    </ion-item>
  </div>
  <div class="timer-btns">
    <div float-left>
      <button ion-button *ngIf="this.pomodoroTimer.timer.hasStarted === false || (this.pomodoroTimer.timer.hasStarted === true && this.pomodoroTimer.timer.isPaused === true)"
        (click)="this.pomodoroTimer.playTimerFromButton()">
        <ion-icon ios="ios-play" md="md-play"></ion-icon>
      </button>
      <button ion-button float-left *ngIf="this.pomodoroTimer.timer.hasStarted === true && this.pomodoroTimer.timer.isPaused === false"
        (click)="this.pomodoroTimer.pauseTimer()">
        <ion-icon ios="ios-pause" md="md-pause"></ion-icon>
      </button>
    </div>
    <div float-right>
      <button ion-button *ngIf="this.pomodoroTimer.timer.hasStarted === true" (click)="this.pomodoroTimer.stopTimer()">
        <ion-icon ios="ios-square" md="md-square"></ion-icon>
      </button>
    </div>
  </div>
  <div class="eventsList">
    <ion-list>
      <ion-item id="eventItem" ion-item *ngFor="let event of this.pomodoroTimer.eventsList">
        <div float-left>
          <ion-icon ios="ios-timer" md="md-timer"></ion-icon>&nbsp;&nbsp;{{ event.eventName }}</div>
        <div float-right>{{ event.timestamp | date: 'dd.MM.yyyy HH:mm' }}</div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>