<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "MenuBar.Podgląd" | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button full outline icon-only (click)="addEvent()" class="button-header">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="calendar-header">
    <ion-row class="calendar-month">
      <ion-col col-2 (click)="goToLastMonth()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col col-8>{{ currentMonth }} {{ currentYear }}</ion-col>
      <ion-col col-2 (click)="goToNextMonth()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <div class="calendar-body">
    <ion-grid>
      <ion-row class="calendar-weekday">
        <ion-col>{{ "Calendar.Pon" | translate }}</ion-col>
        <ion-col>{{ "Calendar.Wt" | translate }}</ion-col>
        <ion-col>{{ "Calendar.Śr" | translate }}</ion-col>
        <ion-col>{{ "Calendar.Czw" | translate }}</ion-col>
        <ion-col>{{ "Calendar.Pt" | translate }}</ion-col>
        <ion-col>{{ "Calendar.Sob" | translate }}</ion-col>
        <ion-col>{{ "Calendar.Nd" | translate }}</ion-col>
      </ion-row>
      <ion-row class="calendar-date">
        <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">
          {{ lastDay }}
        </ion-col>
        <ion-col col-1 *ngFor="let day of daysInThisMonth" (click)="selectDate(day)">
          <span class="selectDate" *ngIf="selectedDay === day;">
            {{ day }} {{selectDate(day)}}
          </span>
          <span #currentDate class="currentDate" *ngIf="currentDate === day; else otherDate">
            {{ day }}
          </span>
          <ng-template #otherDate class="otherDate">
            {{ day }}
            <br>
            <div class="event-bullet" *ngIf="checkEvent(day)"></div>
          </ng-template>
        </ion-col>
        <ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="goToNextMonth()">{{ nextDay }}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="selected-event" *ngIf="isSelected">
    <ion-list>
      <ion-item *ngFor="let se of selectedEvent">
        <ion-buttons end>
          <button ion-button small outline icon-only (click)="editEvent(se)">
            <ion-icon name="ios-create"></ion-icon>
          </button>
          <button ion-button small outline icon-only (click)="deleteEvent(se)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-buttons>
        <hr/>
        <ion-row>
          <h2>{{ se.title }}: </h2>
          <h3>{{ se.eventLocation }}</h3>
        </ion-row>
        <p>{{ "Calendar.Data rozpoczecia" | translate }}: {{ se.formatedDateStart }}
          <br> {{ "Calendar.Data zakonczenia" | translate }}: {{ se.formatedDateEnd }}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
