<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "Event.Edytuj zdarzenie" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="updateEvent()">
    <ion-list>
      <ion-item>
        <ion-label floating>{{ "Event.Tytuł" | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="event.title" name="event.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ "Event.Lokalizacja" | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="event.eventLocation" name="event.eventLocation"></ion-input>
      </ion-item>
    </ion-list>
    <ion-label floating>{{ "Event.Data od" | translate }}</ion-label>
    <br/>
    <ion-input type="text" readonly="true" [(ngModel)]="event.formatedDateStart" name="event.dateStart"></ion-input>
    <ion-buttons end>
      <button ion-button small clear icon-left (click)="showDateStart()">
        <ion-icon name="calendar">
        </ion-icon>
      </button>
    </ion-buttons>
    <ion-label floating>{{ "Event.Data do" | translate }}</ion-label>
    <br/>
    <ion-input type="text" readonly="true" [(ngModel)]="event.formatedDateEnd" name="event.dateEnd"></ion-input>
    <ion-buttons end>
      <button ion-button small clear icon-left (click)="showDateEnd()">
        <ion-icon name="calendar">
        </ion-icon>
      </button>
    </ion-buttons>
    <button ion-button type="submit" full outline>{{ "Event.Zapisz" | translate }}</button>

  </form>
</ion-content>
