<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "MenuBar.Ustawienia" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item-group>
    <ion-item-divider color="light">
      {{ "Settings.Ustawienia Pomodoro" | translate }}
      <div class="buttons" item-right (click)="toggleCard('pomodoro-arrow', 'pomodoro')">
        <button ion-button outline>
          <ion-icon id="pomodoro-arrow" name="arrow-down"></ion-icon>
        </button>
      </div>
    </ion-item-divider>
    <form #form="ngForm" (ngSubmit)="setPomodoro(true)" id="pomodoro" style="display: none">
      <ion-item>
        <ion-label>{{ "Settings.Powtarzanie" | translate }}:</ion-label>
        <ion-input type="number" [(ngModel)]="time" name="time" ngControl="time"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{ "Settings.Liczba powtorzen" | translate }}:</ion-label>
        <ion-input type="number" [(ngModel)]="loop" name="loop" ngControl="loop"></ion-input>
      </ion-item>
      <button ion-button full outline type="submit" block>
        <ion-icon name="ios-attach"></ion-icon>&nbsp;&nbsp;{{ "Event.Zapisz" | translate }}
      </button>
    </form>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider color="light">
      {{ "Settings.Ustawienia aplikacji" | translate }}
      <div class="buttons" item-right (click)="toggleCard('app-settings-arrow', 'app-settings')">
        <button ion-button outline>
          <ion-icon id="app-settings-arrow" name="arrow-down"></ion-icon>
        </button>
      </div>
    </ion-item-divider>
    <form #form="ngForm" (ngSubmit)="setAppSettings(true)" id="app-settings" style="display: none">
      <ion-item>
        <ion-label>{{ "Settings.Język" | translate }}:</ion-label>
        <ion-select [(ngModel)]="language" name="language">
          <ion-option value="en">{{ "Settings.Angielski" | translate }}</ion-option>
          <ion-option value="pl">{{ "Settings.Polski" | translate }}</ion-option>
        </ion-select>
      </ion-item>
      <button ion-button full outline type="submit" block>
        <ion-icon name="ios-attach"></ion-icon>&nbsp;&nbsp;{{ "Event.Zapisz" | translate }}
      </button>
    </form>
  </ion-item-group>
</ion-content>
