<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "MenuBar.Historia" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="selected-event">
    <ion-list>
      <ion-item *ngFor="let el of eventList">
        <ion-row>
          <h2>{{ el.title }}: </h2>
          <h5>{{ el.eventLocation }}</h5>
        </ion-row>
        <p>{{ "Event.Data od" | translate }}: {{ el.dateStart }}
          <br> {{ "Event.Data do" | translate }}: {{ el.dateEnd }}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
