// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.passwordIcon {
    font-size: 2.5rem;
}
#errorContainer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: none;
}
#errorTextContainer {
    margin-left: auto;
    margin-right: auto;
    color: rgb(223, 62, 62);
    font-size: 11px;
}
#or {
    text-align: center;
    padding: 10px 0;
}
.error {
    color: rgb(223, 62, 62);
    font-size: 11px;
}