<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "Tags.Lista tagów" | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button full outline (click)="addNewTags()" class="button-header">
        <ion-icon name="ios-create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let tag of tagsList; let i = index">
    <ion-label>{{ tag.name }}</ion-label>
    <ion-input type="text" readonly="true"></ion-input>
  </ion-item>
</ion-content>
