<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button (click)="goBack()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{ "Common.Zresetuj hasło" | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="reset-pass-container">
        <form (ngSubmit)="resetPassword()" [formGroup]="resetPassForm" novalidate>
            <ion-row>
                <ion-col>
                    <ion-list inset>
                        <ion-item>
                            <ion-label>
                                <ion-icon ios="ios-mail" md="md-mail"></ion-icon>
                            </ion-label>
                            <ion-input type="email" placeholder="{{ 'Common.Adres e-mail' | translate }}" required [(ngModel)]="model.email" formControlName="email"
                                name="email"></ion-input>
                        </ion-item>
                        <div *ngIf="resetPassForm.get('email').touched">
                            <ng-container *ngFor="let validation of validationMessages.email">
                                <div class='error' *ngIf="resetPassForm.get('email').hasError(validation.type)">
                                    <p>{{ "FormValidation." + validation.message | translate }}</p>
                                </div>
                            </ng-container>
                        </div>
                    </ion-list>
                </ion-col>
            </ion-row>

            <div class="footer-buttons">
                <button ion-button full outline>{{ "Common.Zresetuj hasło" | translate }}</button>
            </div>
        </form>
    </div>
</ion-content>